.createPinBtn {
    width: 100%;
    display: flex;
    padding: 15px 0;
    justify-content: center;
    align-items: center;
    gap: 10px;
    box-shadow: 3px 3px 0 0 rgba(255, 255, 255, 0.61) inset;
    filter: drop-shadow(0 6px 0 #2b729b);
    background-color: #2db2ff;
    border-radius: 29.5px;
    color: #fff;
    font-size: 2rem;
    font-weight: bold;
}
