.overlay {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(1px);
    display: flex;
    padding: 240px 45px 380px;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 60px;
        .button {
            background: #fff;
            color: #333;
        }
        img {
            border-radius: 50%;
        }
    }
}

.commentWrap {
    width: 100px;
    padding: 20px;
    background-color: #fff;
    .comment {
        background-color: #fff;
    }
}
