.pinList {
    .pinListHeader {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .space {
            width: 32px;
        }
        .close_btn {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 32px;
            height: 32px;
            background-color: #d9d9d9;
            border-radius: 50%;
        }
    }
    .pinItem {
        margin-top: 40px;
        border: 2px solid #000;
        box-shadow: 0 6px 1px 0 #000;
        border-radius: 18px;
        padding: 20px 22px;
        gap: 8px;
        .avatar {
            border-radius: 50%;
            flex-shrink: 0;
        }
    }
    .comment {
        margin-top: 10px;
        display: grid;
        grid-template-columns: 42px 1fr;
        gap: 20px;
    }
    .scheduleButtonWrap {
        margin-top: 15px;
    }
    .participationBtnWrap {
        width: 100%;
        display: flex;
        align-items: center;
        .participationBtn {
            margin: 20px auto auto;
            width: 140px;
            height: 45px;
            border-radius: 22.5px;
            background: #14e03c;
            color: #fff;
        }
    }
}
.speechWrap {
    position: relative;
}

.speechBubble {
    position: relative;
    padding: 12px 16px;
    border: 2px solid #000;
    border-radius: 16px;
    background-color: #fff;
    line-height: 1.5;
    text-align: center;
}

.speechBubble::before {
    content: "";
    position: absolute;
    left: -18px;
    top: 18px;
    border-width: 8px 18px 8px 0;
    border-style: solid;
    border-color: transparent #000 transparent transparent;
}

.speechBubble::after {
    content: "";
    position: absolute;
    left: -14px;
    top: 20px;
    border-width: 6px 14px 6px 0;
    border-style: solid;
    border-color: transparent #fff transparent transparent;
}
