.selectSchedule {
    color: #5b5b5b;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    border-radius: 0 0 8px 8px;
    border-top: 8px solid #d10000;
    box-shadow: 0 0 4px 0 rgba(35, 35, 35, 0.25);

    .selectedText {
        color: #232323;
        display: flex;

        flex-direction: column;
        gap: 5px;
        .date {
            display: flex;
            align-items: end;
            gap: 3px;
            span {
                margin-bottom: 3px;
            }
        }
    }
    .dateWrap {
        display: flex;
        align-content: center;
        gap: 4px;
        .weekDayWrap {
            position: relative;
            width: 26px;
            height: 26px;
            box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.25);
            border-radius: 50%;
            margin-top: 5px;
            .weekDay {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }
}
