.content {
    margin: 13px 0;
    .shop_header {
        display: flex;
        justify-content: space-between;
        gap: 13px;
        h3 {
            font-size: 24px;
            font-weight: bold;
            line-height: 150%;
        }
        .header_buttons {
            display: flex;
            gap: 8px;

            button {
                background-color: #d9d9d9;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 14px;
                border: none;
                cursor: pointer;

                &.add_btn {
                    width: 80px;
                    height: 32px;
                    border-radius: 16px;
                    span {
                        display: inline-block;
                        width: 24px;
                        height: 24px;
                        text-align: center;
                        line-height: 24px;
                        margin-right: 4px;
                    }
                }

                &.close_btn {
                    width: 32px;
                    height: 32px;
                }

                &:hover {
                    opacity: 0.8;
                }
            }
        }
    }
    .info {
        margin: 8px 0;
        .rating {
            font-size: 16px;
            font-weight: bold;
        }
        .hours {
            margin-top: 10px;
            font-size: 12px;
            line-height: 150%;
            ul {
                list-style: none;
            }
        }
        .vicinity {
            margin-top: 10px;
            font-size: 12px;
            line-height: 150%;
        }
    }
}

.rating_wrap {
    margin-top: 26px;
    font-size: 20px;
    .rating_star {
        margin-left: 16px;
    }
}
.review {
    padding: 16px 0 16px 8px;
}
