.btn_wrap {
    width: 62px;
    height: 87px;
    border-radius: 7px;
    border: 3px solid #9d9d9d;
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    padding: 13px;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: -0.132px;
    box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.25);
}

.selected {
    border-color: #67ff7b;
}

.noneActive {
    background: #a6a6a6;
    color: #5d5d5d;
}
