.wrap {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 500px;
    width: 100%;
    z-index: 1000;
    .pinsList {
        display: flex;
        flex-direction: row-reverse;
        gap: 4px;
        padding: 0 10px 10px;
    }
    .window {
        background: #fff;
        padding: 16px;
        animation: slideUp 0.3s ease-out;
        border-radius: 16px 16px 0 0;
        box-shadow: 0 -4px 12px rgba(0, 0, 0, 0.15);
        max-height: 60vh;
        overflow-y: auto;
    }

    .shopClosing {
        animation: slideDown 0.3s ease-out;
    }
}
