.contentWrap {
    margin-top: 40px;
    padding: 0 16px;
    .iconWrap {
        position: relative;
        margin: 0 auto;

        .groupIcon {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 50%;
        }

        .cameraIcon {
            position: absolute;
            right: 0;
            bottom: 0;
        }
    }
}
