.overlay {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(6px);
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    .dialog {
        width: 345px;
        height: 334px;
        background: white;
        border-radius: 24px;
        padding: 43px 0 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 20px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        img {
            margin: 0 auto;
        }
        .dialogText {
            font-size: 1.6rem;
            line-height: 150%;
            font-weight: 500;
            text-align: center;
            span {
                font-size: 2.4rem;
            }
        }
        .btnWrap {
            display: grid;
            grid-template-columns: 1fr 1fr;
            height: 80px;
            border-top: rgba($color: #232323, $alpha: 0.25) 1px solid;
            font-size: 2rem;
            line-height: 150%;
            .submitBtn {
                font-weight: bold;
                color: #d10000;
            }
            .cancelBtn {
                position: relative;

                &::after {
                    content: "";
                    position: absolute;
                    right: 0;
                    top: 0;
                    height: 100%;
                    width: 1px;
                    background-color: rgba($color: #232323, $alpha: 0.25);
                }
            }
        }
    }
}
