.pageWrap {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding-bottom: 102px;

    .contentWrap {
        display: flex;
        flex-direction: column;
        flex: 1;
        .content {
            display: inline-block;
            margin-top: 40px;
            padding: 0 16px;
            .iconWrap {
                position: relative;
                width: 80px;
                height: 80px;
                margin: 0 auto;

                .groupIcon {
                    display: block;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 50%;
                }

                .cameraIcon {
                    position: absolute;
                    right: 0;
                    bottom: 0;
                }
            }
        }
        .groupName {
            display: flex;
            flex-direction: column;
            input {
                padding: 8px;
                &:focus {
                    outline: none;
                    border: none;
                    box-shadow: none;
                }
            }
        }
    }
    .groupSettings {
        margin: 0 8px;
        margin-top: auto;
        padding: 24px 16px;
        display: flex;
        flex-direction: column;
        border-top: rgba($color: #232323, $alpha: 0.25) 1px solid;
        gap: 16px;
        .settingText {
            color: red;
        }
    }
}
