.content {
    width: 100%;
    display: inline-block;
    margin-top: 40px;
    padding: 0 16px;
    .labelWrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .link {
            width: 48px;
            height: 26px;
            border-radius: 12px;
            padding: 6px;
            background-color: #d9d9d9;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 7px;
        }
        p {
            font-weight: 500;
        }
    }
    .memberWrap {
        margin-top: 16px;
        display: flex;
        gap: 8px;
        .member {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 2px;
            p {
                font-size: 1rem;
                font-weight: bold;
                line-height: 150%;
            }
            .memberIcon {
                border-radius: 50%;
            }
        }
    }
}
