.headerWrap {
    padding: 0 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .iconBox {
        width: 24px;
        height: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
