.groupWrap {
    padding: 8px 16px;
    display: flex;
    align-items: center;
    gap: 24px;
    border-bottom: 1px solid var(----25, rgba(35, 35, 35, 0.25));
    img {
        border-radius: 50%;
    }
}
