.pageWrap {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding-bottom: 202px;
    .fieldWrap {
        margin-top: 52px;
        padding: 0 16px;
    }
    .createBtn {
        width: 80px;
        height: 48px;
        border-radius: 24px;
        margin: auto auto 0;
        border: solid 1px #000;
    }
}
