.memberListWrap {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 56px;
    .label_wrap {
        margin-top: 50px;
        padding: 0 16px;
    }

    .members_wrap {
        margin-top: 16px;
    }
}
