.pageWrap {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding-bottom: 202px;
    .groupInfoWrap {
        margin-top: 82px;
        .groupText {
            margin-top: 24px;
            text-align: center;
        }
    }
}
