.pageWrap {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding-bottom: 102px;

    .contentWrap {
        display: flex;
        flex-direction: column;
        flex: 1;
        .content {
            display: inline-block;
            margin-top: 40px;
            padding: 0 16px;
        }
        .groupName {
            display: flex;
            flex-direction: column;
            input {
                padding: 8px;
                &:focus {
                    outline: none;
                    border: none;
                    box-shadow: none;
                }
            }
        }
    }
    .groupSettings {
        margin: 0 8px;
        margin-top: auto;
        padding: 24px 16px;
        display: flex;
        flex-direction: column;
        border-top: rgba($color: #232323, $alpha: 0.25) 1px solid;
        gap: 16px;
        .settingText {
            color: red;
            text-align: left;
        }
    }
}
