.wrap {
    .fieldWrap {
        height: 36px;
        border: #000 1px solid;
        border-radius: 8px;
        display: flex;
        align-items: center;

        img {
            margin: 10px 0 10px 10px;
            width: 18px;
            height: 18px;
        }
        input {
            margin: 0 8px;
            font-weight: bold;
            font-size: 1.6rem;
            line-height: 150%;
            border-radius: 8px;
            border: none;
            height: 100%;
            width: 100%;
        }
    }
}
