.pageWrap {
    padding: 50px 16px 0;
    .content {
        display: flex;
        flex-direction: column;
        gap: 16px;
        h2 {
            margin: auto;
            font-size: 2rem;
        }
    }
}
