.wrap {
    display: grid;
    grid-template-columns: 58px 1fr;
    gap: 10px;
    align-items: center;
    padding: 8px 20px 8px 8px;
    border-radius: 40px;
    background-color: #fafaf8;
    .info {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .subtext {
        color: rgba($color: #000000, $alpha: 0.5);
    }
}
